In [1]:
import numpy as np
import pandas as pd
import random
import math
from sympy.ntheory.residue_ntheory import nthroot_mod

In [2]:
# Bit-Reverse integer
def bit_reverse(a, n):
    return int(('{:0'+str(n)+'b}').format(a)[::-1],2)

def indexReverse(B, v):
    '''
    B : NTT result in bit-reverse order (BO)
    '''
    n = len(B)
    reversed_indices = [0] * n

    for i in range(n):
        reversed_indices[i] = bit_reverse(i, v) # int(format(i, '0' + str(v) + 'b')[::-1], 2)

    result = [0] * n
    for i in range(n):
        result[reversed_indices[i]] = B[i]

    return result

# # Example usage
# B = [0, 1, 2, 3]
# v = 2

# reversed_B = indexReverse(B, v)
# print(reversed_B)

In [3]:
def egcd(a, b):
    if a == 0:
        return (b, 0, 1)
    else:
        g, y, x = egcd(b % a, a)
        return (g, x - (b // a) * y, y)
    

def modinv(a, m):
    '''
    input (a, m)
    a: input
    m: Modulus
    '''
    g, x, y = egcd(a, m)
    if g != 1:
        raise Exception('Modular inverse does not exist')
    else:
        return x % m

In [4]:
# Cooley-Tukey Butterfly Structure
# A0,A1: input coefficients
# W: twiddle factor
# q: modulus
# B0,B1: output coefficients
def CT_Butterfly(A0,A1,W,q):
    """
    A0 -------\--|+|-- B0
               \/
               /\
    A1 --|x|--/--|-|-- B1
    """
    M = (A1 * W) % q

    B0 = (A0 + M) % q
    B1 = (A0 - M) % q

    return B0,B1

In [5]:
# Gentleman-Sandle Butterfly Structure
# A0,A1: input coefficients
# W: twiddle factor
# q: modulus
# B0,B1: output coefficients
def GS_Butterfly(A0,A1,W,q):
    """
    A0 --\--|+|------- B0
          \/
          /\
    A1 --/--|-|--|x|-- B1
    """
    M0 = (A0 + A1) % q
    M1 = (A0 - A1) % q

    B0 = M0
    B1 = (M1 * W) % q

    return B0,B1

In [6]:
def DIV2(n,q):
    if (n % 2 == 0):
        n = n >> 1  # Right-shift to divide by 2
    else: # n is odd
        n = (n >> 1) + ((q + 1) >> 1)   # Modular adjustment for odd n
    return n

In [7]:
def GS_BU_DIV2(A0,A1,W,q):
    B0, B1 = GS_Butterfly(A0,A1,W,q)
    return DIV2(B0,q),DIV2(B1,q)

In [8]:
def tfg(n, q):
    if nthroot_mod(-1,n,q) != None:
        psi = int(nthroot_mod(-1,n,q))
        # print("generate psi table...")
        Y_table = [0] * n  # Start with the first element, which is 1 (psi^0 mod q)
        Y_table[0] = 1
        
        for i in range(1, n):
            Y_table[i] = (psi * Y_table[i-1]) % q
    else:
        print("nthroot_mod not found.")

    return Y_table

In [9]:
# --- NTT functions ---
def NTT(A, Y_table, q, debug=False):
    '''
    Iterative Radix-2 Cooley-Tukey Number Theoretic Transform (NTT)
    We refer to negacyclic convolution
    A       : Polynomial in coefficient form (COEF form) in normal order
    q       : Modulus
    Y_table : contains TF (2nth root of unity) constants in bit-reverse order, 
    hatA    : bit-reverse order (EVAL form / NTT form)
    '''
    n = len(A)        # n - 1, Degree of polynomial,  which is the highest power of the variable in polynomial
    hatA = A.copy()   # hatA = NTT(A)

    v = math.floor(math.log2(n))    # number of stages

    t = n >> 1
    m = 1  
  
    while m < n:
        for i in range(m):
            idx_omega = m + i
            # print("loop",idx_omega)
            W = Y_table[idx_omega]
            for a_idx in range(i * 2**v, (i * 2**v) + t):
                if debug:
                    print(hatA[a_idx], hatA[a_idx + t])
                hatA[a_idx], hatA[a_idx + t] = CT_Butterfly(hatA[a_idx], hatA[a_idx + t], W, q)
                if debug:
                    print(hatA[a_idx], hatA[a_idx + t])
        if debug:
            print(hatA)

        v -= 1
        t = t//2
        m = m*2

    return hatA

In [10]:
# --- iNTT function ---
def INTT(hatA, Y_table, q):
    '''
    Iterative GS-based Inverse NTT (iNTT) using the Gentleman-Sande (GS) butterfly approach.
    We refer to negacyclic convolution.
    
    hatA    : NTT form of A (Polynomial in evaluation form) in bit-reversed order
    q       : Modulus
    Y_table : Contains inverse TF (2nth root of unity) constants in normal order
    A       : Polynomial in coefficient form (COEF form)
    '''
    a = hatA.copy()  # Copy the NTT(A)
    n = len(hatA)    # Degree of the polynomial
    stages = int(math.log2(n))  # Number of stages in iNTT

    # Perform iNTT
    for stage in range(stages):
        t = 1 << stage  # Calculate t as 2^stage (distance between elements)
        m = n >> (stage + 1)  # Number of groups in the current stage

        for i in range(m):  # Iterate over each group in the current stage
            idx_omega = m + i  # Index for twiddle factor
            W = Y_table[idx_omega]  # Twiddle factor for this group

            # Apply GS Butterfly for each pair in the group
            for j in range(i * t * 2, (i * t * 2) + t):
                a[j], a[j + t] = GS_BU_DIV2(a[j], a[j + t], W, q)

    return a  # Return the resulting polynomial in coefficient form

In [11]:
# CRT Base Conversion
def BConv(ringDim, P, Q, a, QHatInvModq, qHat):
    result = [[0] * 8 for _ in range(len(P))]
    for ri in range(ringDim):
        for i in range(len(P)):
            sigma = [0] * len(P)
            sigma[i] = 0
            for j in range(len(Q)):
                # print(a[j][ri])
                sigma[i] += ((a[j][ri] * QHatInvModq[j]) % Q[j]) * qHat[j] % P[i]
            result[i][ri] = sigma[i] % P[i]

    return result

### Data preparation for CMult

In [12]:
q = np.array([
        281474976710129,
        140737488355601,
        140737488354161,
        140737488355441,
        140737488355201,
        140737488355393
    ], dtype=object)

In [13]:
p = np.array([
        281474976709649,       
        281474976709361
    ], dtype=object)

In [14]:
qp = np.concatenate([q, p])
# for qpi in qp:
#     print(hex(qpi)[2:])

In [15]:
mu = [0] * len(qp)
for i in range(len(qp)):
    mu[i] = (1 << 96) // qp[i]
mu = np.array(mu, dtype=object)
# pd.DataFrame(mu)
# for mui in mu:
#     print(hex(mui)[2:])

In [16]:
mu

array([281474976711183, 562949953420220, 562949953425980, 562949953420860,
       562949953421820, 562949953421052, 281474976711663, 281474976711951],
      dtype=object)

In [16]:
psi_table = [[0] for _ in range(len(qp))]
psi_inv_table = []
ringDim = 8
for i in range(len(qp)):
    qi = qp[i]
    # print(qi)
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    psi_table[i] = psi
    psi_inv_table = psi_inv

In [17]:
evk_bv = np.array([
        [
            [69682554216822, 128022386682259, 185098955124788, 171204030676257, 130215077687218, 44668800961276, 44506815695298, 260462186522876],
            [104202460810171, 36444695085755, 125714174115657, 102403743197814, 13154273209626, 66484187324980, 108511195720202, 126717659921954],
            [135024576091987, 32575561720265, 122299564508284, 113976106891880, 58108779884445, 8852959206546, 56533314698796, 32905630098193],
            [33298579704189, 110462847716098, 66589744770098, 94636059398167, 75131129224229, 130520577755470, 27585565334781, 33852511567975],
            [111259295217265, 99017350779316, 136762469603847, 119940674953432, 69137152942122, 52733276178934, 2205817430626, 60531622124153],
            [79024853541392, 140420583945865, 53358038979695, 61737479413465, 109623225715295, 118489823796251, 14690843156022, 6717165644005],
            [158336846181723, 179091145559187, 174438250232564, 137579944652086, 113220380412275, 16623834746287, 177888969865421, 119039062677917],
            [17385896955321, 83586143939841, 96299427677684, 175720498401467, 47478945671212, 89221677603161, 257234375826409, 185970732895608]
        ],
        [
            [212809215006044, 60051723773309, 117102169523890, 269921900969810, 255344110022343, 102125191556695, 54013749289038, 76149727053630],
            [77723843908830, 99535860332305, 134766700299568, 39691288691143, 42373478983565, 91664357574312, 24129670474445, 114342447682884],
            [50645384603873, 106180190720609, 57573663281654, 94618939724861, 121686694235306, 77582604688976, 3160513385736, 97639386307983],
            [7386565076016, 80901697471604, 42974607099529, 60672423064155, 44702287352539, 39077547889423, 32638587431475, 49245450336404],
            [35659056833775, 78271268046437, 33353698386123, 21764164432391, 106559607083837, 46192863018987, 137015840850872, 89102907606979],
            [71045958095872, 89661308979447, 12746800673210, 73100313685536, 114437284223600, 107128012232582, 108638787717112, 14070486709869],
            [148989155890561, 250693339686224, 116423391577092, 277988864665763, 204332244657628, 59436215812979, 114970250083990, 202878731817244],
            [223756511727135, 89108201472583, 192343412626136, 5002953017728, 195510434252247, 199651334307677, 222147473175296, 52155151767543]],
        [
            [203187003462472, 189150734466375, 107280092578486, 39317358813439, 108900249279105, 280900640693496, 234149972374519, 20591925269943],
            [45603096650994, 26402704219428, 42778229177044, 85523106600679, 135949850416446, 51725170691471, 63778136574253, 82104495770384],
            [31555014307476, 131848814920135, 80697819136541, 35177075900966, 77716685882470, 48500888849664, 100181716346491, 15119438745730],
            [126862651430542, 109270538981624, 33983001225361, 103142933188180, 98253669773367, 14091002339025, 124617540147394, 74516731133939],
            [107148153511876, 18608096215697, 94816319295059, 23730598020087, 135268640323318, 78013452138053, 80849251151298, 32871076442860],
            [119871931763653, 84548679625799, 129052228046520, 111737688283771, 54965104749779, 22430910510194, 81781333798406, 48198128902475],
            [274539626959700, 233804473956061, 233263041621035, 47601830678046, 37059304788197, 11748015742160, 272361133505756, 249657344182226],
            [14549489003062, 213168227644025, 199902237128196, 35055405027754, 54562921775661, 51627358935835, 136517263702228, 42191391718307]
       ]
    ], dtype=object)

In [20]:
# Flatten the array to create a continuous memory file
evk_bv_flat = evk_bv.flatten()

# Write to .mem file in hexadecimal format
with open("evk_bv.mem", "w") as file:
    for value in evk_bv_flat:
        file.write(f"{value:012X}\n")  # Format each value as 12-digit hexadecimal

In [18]:
evk_av = np.array([
        [
            [270874806259230, 136154013011401, 197777998901012, 103832606717578, 216090021347176, 161205493129500, 1081627386270, 26824152955873],
            [94592133298358, 138688689708460, 100555988766126, 30225865095506, 39327496064658, 130179776489641, 83646918940043, 118696211614773],
            [12285715237173, 68295904591520, 116250675167437, 4759340076746, 65094278974844, 78060637510674, 80063154245879, 10274647551886],
            [107063798157337, 50458117386511, 52005028553795, 135558560116111, 60286122731587, 32060147720882, 89993019224592, 25399386735943],
            [47833564181461, 5215192794528, 69833386906334, 138884713642428, 118676093710226, 53024982558460, 24173470605418, 104286164870805],
            [3143461583844, 116350719038313, 16709728416279, 104708307936310, 92599907542919, 81122200844965, 111724269433222, 49908787057317],
            [187992525825256, 116974249614713, 217088097243705, 254940632186277, 85086296932245, 192267544777753, 125991471801377, 200316930405897],
            [41295176366052, 202094049578761, 30678700743205, 114402764472550, 50213945717615, 82326466316927, 229579204675909, 19928732446445]
        ],
        [
            [214919303379454, 141527160553476, 220253838817342, 189035201235213, 207318937011458, 175809710533222, 13508719192243, 61715618762781],
            [92547522402684, 9538088275652, 110400689857660, 86343751424084, 44905567039334, 69578535705483, 10371091795313, 35399926725251],
            [61185001051463, 99610769738781, 104709235161580, 57716907943296, 96183753538096, 86087772918182, 114348042214740, 11423487849179],
            [54022075988637, 74621277243755, 112627620836173, 46320803634282, 134249523976658, 75878270784050, 126035690029840, 80961445345397],
            [92495841663, 87500571873391, 72553823345188, 42913086519419, 18010810841491, 9654715743897, 121227950057385, 32861572367522],
            [131702594440856, 90670481506785, 78477754350301, 117245883942678, 96117573925292, 56819543098025, 111501030257478, 56425200019310],
            [98250390819572, 280609419050393, 31782967495242, 238431597030091, 216335489648670, 68829083114233, 36699383302720, 211980438640871],
            [5005806697955, 278818541481, 100157685581861, 102680763590141, 133893617342840, 248950181444074, 143343007699780, 87686895497643]
        ],
        [
            [38280079473752, 116074895578562, 176928904817483, 158656906944061, 47942035279813, 57224893147976, 34249025346298, 21285325253215],
            [122993803061982, 96938084038624, 57844156240632, 112387349924338, 33583799921849, 27329909549970, 135490002368696, 50689124802961],
            [103776960699493, 4552966206596, 124454549368850, 79336371365640, 135139404818940, 97513551676279, 140433315697955, 1501482662582],
            [106791456480698, 30533549641151, 93903553358579, 3530571559293, 65913771960306, 52339518457641, 101155344679031, 99009636183469],
            [69860086604398, 3371399343332, 34931505998517, 37021559537416, 84224851095587, 32919948566177, 121976490614064, 133051531819358],
            [14525592289783, 139558923279006, 12000712166647, 125427953675327, 101631801649046, 39718076496964, 28265491079972, 113463436093989],
            [180541532478557, 183718937202065, 233563602153746, 144487456876883, 189380931436213, 143102868109145, 242761407232863, 60385230383279],
            [146990498261152, 102573105685336, 4806089283421, 28383168006466, 183903116294219, 219371090446325, 222564277819914, 114880487829941]
        ]
    ], dtype=object)

In [22]:
# Flatten the array to create a continuous memory file
evk_av_flat = evk_av.flatten()

# Write to .mem file in hexadecimal format
with open("evk_av.mem", "w") as file:
    for value in evk_av_flat:
        file.write(f"{value:012X}\n")  # Format each value as 12-digit hexadecimal

In [19]:
# in EVAL Form
c0 = np.array([
        [
            [156582880785126, 215067417125965, 132269658669765, 128190893336092, 68732819882566, 19155851192401, 273220761840190, 16293506801851],
            [132873220137731, 138313396894905, 23764868667328, 41858257251076, 18133394321038, 74611467689470, 65878712317220, 27444897426953],
            [48548374390208, 3597075363456, 102389220369435, 14426082306967, 16717934191936, 14927294360899, 100194386499779, 79965358620771],
            [137353406424768, 125744669391183, 9908580053683, 23380703625691, 2489423972285, 88058106378547, 52303992499868, 85882266262661],
            [32007046846594, 99756332923120, 23289797094845, 50381829552072, 51572069083681, 45933032181486, 110706540776181, 26772683688273],
            [34619881048165, 106498943419291, 89703457655085, 1179225201069, 9170235381744, 37621379383172, 39761391798948, 85977640170091]
        ],
        [
            [62640273521499, 185033220615639, 97038419356111, 216431184325856, 131393512477604, 142782014970223, 253537996425965, 51489940359216],
            [74140744193020, 93312865600937, 46057874402570, 88589490940000, 56177011821952, 136695728777012, 39747638730323, 72852152911582],
            [90198505679943, 39382986203388, 36027320503286, 67338771622934, 58827881259693, 116454513509805, 48679726261658, 98628697060752],
            [46184970674346, 41219381785458, 132300073098162, 83215761133126, 75034121952556, 64446023274681, 115594648724384, 136467239012844],
            [1737327027031, 66738192935565, 34273698180098, 17545156236657, 60610882990642, 69502336432397, 12152009812542, 87460576886891],
            [90859140701615, 29764797138564, 45478511107068, 53247181887007, 96809664223437, 60197506484291, 98083847319481, 13268841445742]
       ]
    ], dtype=object)

In [24]:
# Flatten the array to create a continuous memory file
c0_flat = c0.flatten()

# Write to .mem file in hexadecimal format
with open("c0.mem", "w") as file:
    for value in c0_flat:
        file.write(f"{value:012X}\n")  # Format each value as 12-digit hexadecimal

In [25]:
2*6*8

96

In [20]:
# in EVAL Form
c1 = np.array([
        [
            [212210236166232, 206889552710025, 210452000413342, 142444779335850, 99046283954391, 116492088684956, 127699954049457, 105220122038536],
            [93145836054892, 93542790284897, 121508297132964, 6641328497835, 29369432613101, 56585802119875, 136532702198695, 12415798600772],
            [13645531316725, 42467272833811, 33701863389975, 84694451028495, 105031127367655, 12783436372854, 35933031729966, 2570279457927],
            [123397746994765, 136088769264436, 1651025106412, 103690929296406, 108572154206045, 78464079274529, 5432251754750, 26238815411135],
            [96905031002691, 20210563259735, 66558212470004, 72993951517447, 89359250494743, 103205630925712, 45455210198689, 45430970463252],
            [26710280986283, 20031553057925, 122074360953958, 138534811216476, 26095044522356, 23247933351339, 42487523670731, 75637030172529]
        ],
       [
            [24210511020380, 43792898637163, 260298416943339, 129445284527232, 162130913625672, 261783913036865, 258169664267006, 34578256542699],
            [44951965475765, 120654569060181, 56416561427232, 59975208463156, 21199382030457, 41493288214608, 138063805410065, 112777634632047],
            [5981545506409, 11206491122704, 105834715548052, 120024975209480, 128827343218684, 113852350023392, 114955814173777, 79638865329811],
            [64280047068059, 5713004744701, 117445434010787, 276288153379, 98263860317713, 108769225415647, 27620845066818, 129731455436098],
            [909564231569, 29583260792434, 124626974731260, 124359675617956, 44568750351851, 66010039201924, 27099495405674, 92533250212222],
            [88606842747963, 127462596648893, 61857461757629, 121610659865633, 112068844272271, 88220605144484, 12410334728890, 93063516683854],
       ]
    ], dtype=object)

In [27]:
# Flatten the array to create a continuous memory file
c1_flat = c1.flatten()

# Write to .mem file in hexadecimal format
with open("c1.mem", "w") as file:
    for value in c1_flat:
        file.write(f"{value:012X}\n")  # Format each value as 12-digit hexadecimal

### dyadic

In [21]:
# Calculate d0 manually with double for loop
d0 = []
for j in range(6):
    row = []
    for k in range(8):
        row.append(c0[0][j][k] * c1[0][j][k] % q[j])
    d0.append(row)  # Append the row to d0

d0 = np.array(d0, dtype=object)

In [29]:
# Flatten the array to create a continuous memory file
d0_flat = d0.flatten()

# Write to .mem file in hexadecimal format
with open("d0.mem", "w") as file:
    for value in d0_flat:
        file.write(f"{value:012X}\n")  # Format each value as 12-digit hexadecimal

In [22]:
pd.DataFrame(d0)

,0,1,2,3,4,5,6,7
0,229733405869021,77785070052398,104495885219796,114807377589340,255332217915958,203389926494057,214351139280953,120298987245557
1,19404911928976,135853622152190,32138737604707,83263937559911,23343522996797,49214355073957,102858510980403,1457269024476
2,70589161337120,81864569595847,15863487303381,92352592680260,50270522125178,17545959993126,137640157307451,17928452982284
3,8735827518209,29283076161232,124593976613841,130870448563114,99228422719248,78905265186105,20395338941823,34739302610774
4,99803323558504,108555519004582,86988069500889,138880449418095,69012432026833,29648679366122,2068175027424,8276811617048
5,16500019014007,68927842732247,114677167200179,86698594632518,92441128233797,90659112394128,97943841895814,14971072332460

In [23]:
# Calculate d1 manually with double for loop
d1 = []
for j in range(6):
    row = []
    for k in range(8):
        row.append(((c0[0][j][k] * c1[1][j][k]) + (c0[1][j][k] * c1[0][j][k])) % q[j])
    d1.append(row)  # Append the row to d0

d1 = np.array(d1, dtype=object)

In [32]:
# Flatten the array to create a continuous memory file
d1_flat = d1.flatten()

# Write to .mem file in hexadecimal format
with open("d1.mem", "w") as file:
    for value in d1_flat:
        file.write(f"{value:012X}\n")  # Format each value as 12-digit hexadecimal

In [24]:
pd.DataFrame(d1)

,0,1,2,3,4,5,6,7
0,41526089920092,117905457755932,135388143416724,20395987748816,141261059657146,79845604344314,58464367665430,61732355802222
1,103328224421018,126918235970201,46416079971943,26986855608363,132260679688308,22395308785275,132845764392021,16639560817734
2,94834745179003,77358618592271,17047062080987,137690597764161,17863666025820,137871519773101,99191316963546,92703722128470
3,62331016100404,100459094623408,97371792167693,49127959259218,95508780617568,131889281797017,103856456914626,124435065672208
4,14253443586159,4438627514844,86144785028707,100958535497992,122274022796939,75082227357860,86568644954035,63083293212448
5,135862587527188,47470181996194,22840101773844,73814682792814,131689664550703,58532150120523,107188218758001,138865986167975

In [25]:
# Calculate d2 manually with double for loop
d2 = []
for j in range(6):
    row = []
    for k in range(8):
        row.append(c0[1][j][k] * c1[1][j][k] % q[j])
    d2.append(row)  # Append the row to d0

d2 = np.array(d2, dtype=object)

In [35]:
# Flatten the array to create a continuous memory file
d2_flat = d2.flatten()

# Write to .mem file in hexadecimal format
with open("d2.mem", "w") as file:
    for value in d2_flat:
        file.write(f"{value:012X}\n")  # Format each value as 12-digit hexadecimal

In [26]:
pd.DataFrame(d2)

,0,1,2,3,4,5,6,7
0,32154219417326,160077591144099,121901240155656,276829222258970,230987735118480,94420344970621,76835866548388,512091162204
1,88632175234243,55437638111605,36371189108761,22094884572716,97390906290479,27246711026479,1791298826556,55484310719386
2,133162682338612,71135920344399,2297110822320,52143141124849,106398059486377,49848041437032,105544866203369,36847571852993
3,49739339877904,29567945865636,45796464659358,64457683819779,103903674157478,34985893193559,19744512755732,3189981416926
4,15587644275363,124879177638752,108092503286568,133459120890766,79453945806378,123822539562085,34775939894078,65524642827833
5,29893676515127,63462390131052,115957243466878,20893392760532,6802471869697,121176922361630,65188154151210,133854517371889

### keyswitching

#### Digit decomposition

In [27]:
# Split the array into three parts
d2_part0 = d2[0:2]  # First two rows
d2_part1 = d2[2:4]  # Second two rows
d2_part2 = d2[4:6]  # Third two rows

In [28]:
pd.DataFrame(d2_part2)

,0,1,2,3,4,5,6,7
0,15587644275363,124879177638752,108092503286568,133459120890766,79453945806378,123822539562085,34775939894078,65524642827833
1,29893676515127,63462390131052,115957243466878,20893392760532,6802471869697,121176922361630,65188154151210,133854517371889

#### ModUP

In [29]:
# Input Modulus (Q) for BConv in ModUp
Q_part0 = q[0:2]      # dnum 1st
Q_part1 = q[2:4]      # dnum 2nd
Q_part2 = q[4:6]      # dnum 3rd

In [30]:
# Output Modulus (P) for BConv in ModUp
P_part0 = np.concatenate([Q_part1, Q_part2, p])
P_part1 = np.concatenate([Q_part0, Q_part2, p])
P_part2 = np.concatenate([Q_part0, Q_part1, p])

===== ModUp 0=====

##### INTT

In [32]:
# INTT in ModUp before BConv
d2_part0_coef = [[0],[0]]
ringDim = len(d2_part0[0])
for i in range(len(d2_part0)):
    a = d2_part0[i] # EVAL form
    qi = Q_part0[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = INTT(a, indexReverse(psi_inv, int(math.log2(len(psi)))), qi)
    d2_part0_coef[i] = result
d2_part0_coef = np.array(d2_part0_coef, dtype=object)
pd.DataFrame(d2_part0_coef)

,0,1,2,3,4,5,6,7
0,124214788846968,280677099175868,26296058363921,199877305735465,209767670679757,120749254589004,140246277122664,96649449896801
1,30463953191828,69816403927603,83908753657469,69058618981516,85502379458010,41668154561535,116042058426567,85320008263317

##### BConv

In [33]:
# Generate qHat and QHatInvModq for BConv
# This value we can get directly from OpenFHE, we can also simulate it how to get this value
Q = 1
for qi in Q_part0 :
    Q *= qi

QHat = [0] * len(Q_part0)
QHatInvModq = [0] * len(Q_part0)
for i in range(len(Q_part0)):
    QHat[i] = Q // Q_part0[i]
    QHatInvModq[i] = modinv(QHat[i], Q_part0[i])
    print(QHatInvModq[i])

65056658177178
108209159266888

In [43]:
QHat

[140737488355601, 281474976710129]

In [44]:
# Generate QHat Mod p
# This value not included in BConv
for i in range(len(QHat)):
    for j in range(len(P_part0)):
        print(QHat[i] % P_part0[j], end=" ")
    print()

1440 160 400 208 140737488355601 140737488355601
1807 140737488354688 140737488354928 140737488354736 480 768

In [34]:
modup_part0 =  BConv(ringDim, P_part0, Q_part0, d2_part0_coef, QHatInvModq, QHat)

# print("BConv result:")
# for j in range(len(P_part0)):
#     print(f"COEF for modulus P_part0[{j}] = {P_part0[j]}: ", modup_part0[j])

modup_part0 = np.array(modup_part0, dtype=object)

In [35]:
pd.DataFrame(modup_part0)

,0,1,2,3,4,5,6,7
0,45742104459594,16823484221380,34858537660194,108148400869633,34076016208835,18752269146334,128149182402356,41097421024924
1,47799023727171,17015805269249,47183731870696,26489431534622,17238344002839,54759443264975,101749795426019,96043885745229
2,3432885602785,78552395801319,62464943543937,103373138919882,125948523479484,74396376560135,80311401061997,112129702164897
3,67073293749334,29323123359919,22092476517408,41866172992474,38980379886072,58686829900967,13019623526846,14818555997034
4,79848651193711,60738713306734,182314758722630,276761013497135,177740362038735,140386188335904,118807883016045,112735266686987
5,278408950113476,97660667905795,107040993013154,41416261559976,102228981585056,152168348722284,274829832656487,9796766190711

##### NTT

In [36]:
# Convert bconv result to EVAL form
modup_part0_eval = [[0] for _ in range(len(modup_part0))]
ringDim = len(d2_part0[0])
for i in range(len(modup_part0)):
    a = modup_part0[i] # COEF form
    qi = P_part0[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = NTT(a, indexReverse(psi, int(math.log2(len(psi)))), qi)
    modup_part0_eval[i] = result
modup_part0_eval = np.array(modup_part0_eval, dtype=object)
pd.DataFrame(modup_part0_eval)

,0,1,2,3,4,5,6,7
0,28498519237414,88198292375530,136044036833282,80292440179222,16691954781300,58554237491201,56534115524311,41860727608653
1,68202800377802,68796096916002,8094418198440,12798183617866,63737605182346,130161820292851,99652976742570,71685776844932
2,100760137565037,94395761137320,88197654597243,75023064146447,137163449837228,112193628648637,112258415529928,11158415136445
3,137574387729151,55570807573124,1524687925166,58400130265855,99439635008883,80135700436539,110826288967242,133852200444105
4,147683184066100,20053837487615,112946556345833,133614289074327,68345828109656,30504518797823,135816835822556,271299136555427
5,106272010291338,251760079846151,158051001732520,120747265378323,22653177551009,229767176075186,62269284588516,149851698607321

In [372]:
import math

# --- Modified NTT function ---
def NTT(A, Y_table, q, debug=False):
    """
    Perform the Number Theoretic Transform (NTT) in Cooley-Tukey style.

    Parameters:
        A       : Polynomial in coefficient form (COEF form) in normal order
        q       : Modulus
        Y_table : Twiddle factors (2n-th roots of unity) in bit-reversed order
        debug   : Enable debug mode to print intermediate results

    Returns:
        hatA    : Transformed polynomial in Evaluation Form (EVAL/NTT form)
    """
    n = len(A)  # Number of points (degree of polynomial + 1)
    hatA = A.copy()  # Result array initialized with input coefficients
    stages = math.floor(math.log2(n))    # Number of NTT stages (log2(n))

    for stage in range(stages):
        m = 1 << stage        # Number of groups (2^stage)
        t = n >> (stage + 1)  # Distance between elements in the current stage

        # print("stage",stage)

        for i in range(m):  # Iterate over each group in the current stage
            idx_omega = m + i  # Index for twiddle factor
            W = Y_table[idx_omega]  # Twiddle factor for this group
            # if debug:
            #         print(idx_omega)

            # Iterate over pairs in the group
            for a_idx in range(i * t * 2, (i * t * 2) + t):
                hatA[a_idx], hatA[a_idx + t] = CT_Butterfly(hatA[a_idx], hatA[a_idx + t], W, q)
                if debug:
                    print("idx_omega",idx_omega)
                    print(a_idx, a_idx + t)
    return hatA

In [376]:
import math

# --- Modified NTT function for radix-4 ---
def NTT_radix4(A, Y_table, q, debug=False):
    """
    Perform the Number Theoretic Transform (NTT) in Cooley-Tukey style with radix-4.

    Parameters:
        A       : Polynomial in coefficient form (COEF form) in normal order
        q       : Modulus
        Y_table : Twiddle factors (2n-th roots of unity) in bit-reversed order
        debug   : Enable debug mode to print intermediate results

    Returns:
        hatA    : Transformed polynomial in Evaluation Form (EVAL/NTT form)
    """
    n = len(A)  # Number of points (degree of polynomial + 1)
    hatA = A.copy()  # Result array initialized with input coefficients
    stages = math.floor(math.log2(n))    # Number of NTT stages (log2(n))

    for stage in range(stages):
        m = 1 << (2 * stage)        # Number of groups (4^stage)
        t = n >> (stage + 2)        # Distance between elements in the current stage

        # print("stage", stage)

        for i in range(m):  # Iterate over each group in the current stage
            idx_omega = m + i  # Index for twiddle factor
            W = Y_table[idx_omega]  # Twiddle factor for this group
            
            # if debug:
            #         print(idx_omega)

            # Iterate over groups of 4 elements at a time
            for a_idx in range(i * t * 4, (i + 1) * t * 4, t):  # Ensure we don't go out of bounds
                # Check if we are within bounds
                if a_idx + 3 * t < n:
                    # Apply the radix-4 butterfly operations
                    hatA[a_idx], hatA[a_idx + t], hatA[a_idx + 2 * t], hatA[a_idx + 3 * t] = CT_Butterfly4(
                        hatA[a_idx], hatA[a_idx + t], hatA[a_idx + 2 * t], hatA[a_idx + 3 * t], W, q
                    )

                    if debug:
                        print("idx_omega", idx_omega)
                        print(a_idx, a_idx + t, a_idx + 2 * t, a_idx + 3 * t)
                else:
                    # If the indices are out of bounds, print a warning or handle accordingly
                    if debug:
                        print(f"Skipping indices {a_idx}, {a_idx + t}, {a_idx + 2 * t}, {a_idx + 3 * t} due to out-of-bounds access.")
    
    return hatA


def CT_Butterfly4(a0, a1, a2, a3, W, q):
    """
    Perform the radix-4 butterfly operation.

    Parameters:
        a0, a1, a2, a3 : Input values to the butterfly operation
        W               : Twiddle factor (root of unity)
        q               : Modulus

    Returns:
        New values after radix-4 butterfly
    """
    # Compute the radix-4 butterfly
    W1 = W
    W2 = (W * W) % q
    W3 = (W2 * W) % q
    
    # Perform the radix-4 butterfly
    a0_new = (a0 + a1 + a2 + a3) % q
    a1_new = (a0 - a1 + W1 * (a2 - a3)) % q
    a2_new = (a0 - a2 + W2 * (a1 - a3)) % q
    a3_new = (a0 - a3 + W3 * (a1 - a2)) % q

    return a0_new, a1_new, a2_new, a3_new

In [395]:
import math

# --- Modified NTT function ---
def NTT4(A, Y_table, q):
    """
    Perform the Number Theoretic Transform (NTT) in Cooley-Tukey style.

    Parameters:
        A       : Polynomial in coefficient form (COEF form) in normal order
        q       : Modulus
        Y_table : Twiddle factors (2n-th roots of unity) in bit-reversed order
        debug   : Enable debug mode to print intermediate results

    Returns:
        hatA    : Transformed polynomial in Evaluation Form (EVAL/NTT form)
    """
    n = len(A)  # Number of points (degree of polynomial + 1)
    hatA = A.copy()  # Result array initialized with input coefficients
    stages = math.floor(math.log2(n))    # Number of NTT stages (log2(n))

    for stage in range(stages):
        m = 1 << stage        # Number of groups (2^stage)
        t = n >> (stage + 1)  # Distance between elements in the current stage

        address = []
        address_omega = []
        for i in range(m):  # Iterate over each group in the current stage
            idx_omega = m + i  # Index for twiddle factor
            W = Y_table[idx_omega]  # Twiddle factor for this group
            base_idx = i * t * 2
            for a_idx in range(base_idx, base_idx + t):
                address.append(a_idx)
                address_omega.append(idx_omega)
    
        for k in range(n >> 3):
            W0 = Y_table[address_omega[4*k]]
            W1 = Y_table[address_omega[4*k + 1]]
            W2 = Y_table[address_omega[4*k + 2]]
            W3 = Y_table[address_omega[4*k + 3]]
            hatA[address[4*k]], hatA[address[4*k] + t] = CT_Butterfly(hatA[address[4*k]], hatA[address[4*k] + t], W0, q)
            hatA[address[1 + 4*k]], hatA[address[1 + 4*k] + t] = CT_Butterfly(hatA[address[1 + 4*k]], hatA[address[1 + 4*k] + t], W1, q)
            hatA[address[2 + 4*k]], hatA[address[2 + 4*k] + t] = CT_Butterfly(hatA[address[2 + 4*k]], hatA[address[2 + 4*k] + t], W2, q)
            hatA[address[3 + 4*k]], hatA[address[3 + 4*k] + t] = CT_Butterfly(hatA[address[3 + 4*k]], hatA[address[3 + 4*k] + t], W3, q)

    return hatA

In [396]:
# NTT_radix4
# Convert bconv result to EVAL form
# for 4 BU

ringDim = len(d2_part0[0])
i = 0
a = modup_part0[i] # COEF form
qi = P_part0[i]
psi = tfg(ringDim, qi)
psi_inv = [modinv(v, qi) for v in psi]
result = NTT4(a, indexReverse(psi, int(math.log2(len(psi)))), qi)
modup_part0_eval = result

pd.DataFrame([modup_part0_eval], columns=[f"{i}" for i in range(len(modup_part0_eval))])

,0,1,2,3,4,5,6,7
0,28498519237414,88198292375530,136044036833282,80292440179222,16691954781300,58554237491201,56534115524311,41860727608653

In [394]:
# Convert bconv result to EVAL form
# for 4 BU

ringDim = len(d2_part0[0])
i = 0
a = modup_part0[i] # COEF form
qi = P_part0[i]
psi = tfg(ringDim, qi)
psi_inv = [modinv(v, qi) for v in psi]
result = NTT(a, indexReverse(psi, int(math.log2(len(psi)))), qi, debug=False)
modup_part0_eval = result

pd.DataFrame([modup_part0_eval], columns=[f"{i}" for i in range(len(modup_part0_eval))])

,0,1,2,3,4,5,6,7
0,28498519237414,88198292375530,136044036833282,80292440179222,16691954781300,58554237491201,56534115524311,41860727608653

In [397]:
import math

# --- Modified NTT function ---
def NTT_modified(A, Y_table, q, debug=False):
    """
    Perform the Number Theoretic Transform (NTT) in Cooley-Tukey style.

    Parameters:
        A       : Polynomial in coefficient form (COEF form) in normal order
        q       : Modulus
        Y_table : Twiddle factors (2n-th roots of unity) in bit-reversed order
        debug   : Enable debug mode to print intermediate results

    Returns:
        hatA    : Transformed polynomial in Evaluation Form (EVAL/NTT form)
    """
    n = len(A)  # Number of points (degree of polynomial + 1)
    hatA = A.copy()  # Result array initialized with input coefficients
    stages = math.floor(math.log2(n))    # Number of NTT stages (log2(n))

    for stage in range(stages):
        m = 1 << stage        # Number of groups (2^stage)
        t = n >> (stage + 1)  # Distance between elements in the current stage

        for i in range(m):  # Iterate over each group in the current stage
            # Process 4 butterflies in parallel
            for j in range(t // 4):  # Adjust the range to process 4 butterflies
                a_idx = i * t * 2 + j * 4  # Base index for the current butterfly group

                # Calculate twiddle factors for each butterfly
                W0 = Y_table[(m + i) * 4 + 0]  # Twiddle factor for first butterfly
                W1 = Y_table[(m + i) * 4 + 1]  # Twiddle factor for second butterfly
                W2 = Y_table[(m + i) * 4 + 2]  # Twiddle factor for third butterfly
                W3 = Y_table[(m + i) * 4 + 3]  # Twiddle factor for fourth butterfly

                # Perform the butterflies
                hatA[a_idx], hatA[a_idx + t] = CT_Butterfly(hatA[a_idx], hatA[a_idx + t], W0, q)
                hatA[a_idx + 1], hatA[a_idx + t + 1] = CT_Butterfly(hatA[a_idx + 1], hatA[a_idx + t + 1], W1, q)
                hatA[a_idx + 2], hatA[a_idx + t + 2] = CT_Butterfly(hatA[a_idx + 2], hatA[a_idx + t + 2], W2, q)
                hatA[a_idx + 3], hatA[a_idx + t + 3] = CT_Butterfly(hatA[a_idx + 3], hatA[a_idx + t + 3], W3, q)

                if debug:
                    print(f"Stage {stage}, Group {i}, Butterfly {j}:",
                          f"Indices ({a_idx}, {a_idx + t}), ({a_idx + 1}, {a_idx + t + 1}),",
                          f"({a_idx + 2}, {a_idx + t + 2}), ({a_idx + 3}, {a_idx + t + 3})")

    return hatA

In [398]:
# Convert bconv result to EVAL form
modup_part0_eval = [[0] for _ in range(len(modup_part0))]
ringDim = len(d2_part0[0])
for i in range(len(modup_part0)):
    a = modup_part0[i] # COEF form
    qi = P_part0[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = NTT_modified(a, indexReverse(psi, int(math.log2(len(psi)))), qi)
    modup_part0_eval[i] = result
modup_part0_eval = np.array(modup_part0_eval, dtype=object)
pd.DataFrame(modup_part0_eval)

,0,1,2,3,4,5,6,7
0,65463205155761,53595444239341,135588777564519,76237332003608,26021003763427,120789012557580,74865786110030,140059469735658
1,113902028787965,114401601076620,74566325974762,14946287355168,122433507021818,60367497817319,19801137766630,38032575714076
2,46541395835943,50336059628290,120221550118817,31554244388147,101061863724828,106768731974348,4708336969057,34454545096416
3,103801171099335,34193239826227,140703319817811,83724036589157,30345416399333,24453006893611,44219121572398,8309395791
4,175478708883100,52751275093332,178123824238346,89926977827518,265693570213971,68726151520136,186505693206914,182120072457103
5,180591246647084,129586259061010,217746448779958,60292716297920,94751676870507,65735076750580,277810513955711,22539806822032

In [245]:
n = 8  # Number of points (degree of polynomial + 1)
stages = int(math.log2(n))  # Number of NTT stages (log2(n))

for stage in range(stages):
    m = 1 << stage        # Number of groups (2^stage)
    t = n >> (stage + 1)  # Distance between elements in the current stage
    k = n >> 3            # Number of NTT Core (array of 4 BUs)

    print("stage")
    # print(m)
    print("t",t)
    i = stage
    for j in range(k):
        a_idx_0 = (m - 2**i) * t * 2
        a_idx_1 = (m - 2**i) * t * 2 + 1
        a_idx_2 = (m - 2**i) * t * 2 + 2
        a_idx_3 = (m - 2**i) * t * 2 + 3
        print(a_idx_0, a_idx_0 + t, a_idx_1, a_idx_1 + t, a_idx_2, a_idx_2 + t, a_idx_3, a_idx_3 + t)
        
        # Iterate over pairs in the group
        # for a_idx in range(i * t * 2, (i * t * 2) + t):
        #     print(a_idx, a_idx + t)

stage
t 4
0 4 1 5 2 6 3 7
stage
t 2
0 2 1 3 2 4 3 5
stage
t 1
0 1 1 2 2 3 3 4

##### concatenate

In [48]:
modup_part0_eval = np.concatenate([d2_part0, modup_part0_eval])
pd.DataFrame(modup_part0_eval)

,0,1,2,3,4,5,6,7
0,32154219417326,160077591144099,121901240155656,276829222258970,230987735118480,94420344970621,76835866548388,512091162204
1,88632175234243,55437638111605,36371189108761,22094884572716,97390906290479,27246711026479,1791298826556,55484310719386
2,28498519237414,88198292375530,136044036833282,80292440179222,16691954781300,58554237491201,56534115524311,41860727608653
3,68202800377802,68796096916002,8094418198440,12798183617866,63737605182346,130161820292851,99652976742570,71685776844932
4,100760137565037,94395761137320,88197654597243,75023064146447,137163449837228,112193628648637,112258415529928,11158415136445
5,137574387729151,55570807573124,1524687925166,58400130265855,99439635008883,80135700436539,110826288967242,133852200444105
6,147683184066100,20053837487615,112946556345833,133614289074327,68345828109656,30504518797823,135816835822556,271299136555427
7,106272010291338,251760079846151,158051001732520,120747265378323,22653177551009,229767176075186,62269284588516,149851698607321

===== ModUp 1=====

##### INTT

In [49]:
# INTT in ModUp before BConv
d2_part1_coef = [[0],[0]]
ringDim = len(d2_part1[0])
for i in range(len(d2_part1)):
    a = d2_part1[i] # EVAL form
    qi = Q_part1[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = iNTT(a, indexReverse(psi_inv, int(math.log2(len(psi)))), qi)
    d2_part1_coef[i] = result
d2_part1_coef = np.array(d2_part1_coef, dtype=object)
pd.DataFrame(d2_part1_coef)

,0,1,2,3,4,5,6,7
0,87264360245514,56576160390307,120035293836998,97981030039090,82957630703314,137787833746154,38339382757809,20393115759103
1,114291931146017,52390053181046,30761212714109,45616881398655,67007159133537,92639507491317,83029851047028,129707942273409

##### BConv

In [50]:
# Generate qHat and QHatInvModq for BConv
# This value we can get directly from OpenFHE, we can also simulate it how to get this value
Q = 1
for qi in Q_part1 :
    Q *= qi

QHat = [0] * len(Q_part1)
QHatInvModq = [0] * len(Q_part1)
for i in range(len(Q_part1)):
    QHat[i] = Q // Q_part1[i]
    QHatInvModq[i] = modinv(QHat[i], Q_part1[i])
    print(QHatInvModq[i])

96647072080709
44090416273853

In [51]:
QHat

[140737488355441, 140737488354161]

In [43]:
modup_part1 =  BConv(ringDim, P_part1, Q_part1, d2_part1_coef, QHatInvModq, QHat)

print("BConv result:")
for j in range(len(P_part1)):
    print(f"COEF for modulus P_part0[{j}] = {P_part1[j]}: ", modup_part1[j])

modup_part1 = np.array(modup_part1, dtype=object)
pd.DataFrame(modup_part1)

NameError: name 'd2_part1_coef' is not defined

##### NTT

In [53]:
# Convert bconv result to EVAL form
modup_part1_eval = [[0] for _ in range(len(modup_part1))]
ringDim = len(d2_part1[0])
for i in range(len(modup_part1)):
    a = modup_part1[i] # COEF form
    qi = P_part1[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = NTT(a, indexReverse(psi, int(math.log2(len(psi)))), qi)
    modup_part1_eval[i] = result
modup_part1_eval = np.array(modup_part1_eval, dtype=object)
pd.DataFrame(modup_part1_eval)

,0,1,2,3,4,5,6,7
0,148935068366876,273474880081000,61328727045053,63749792626073,117418383349543,280347835916771,179869530005396,129792452812728
1,98558645847943,46989275181018,131780062388135,78996176609873,122719274408338,109949735448813,128041387007075,83590975200563
2,76290234061696,14481316488552,55295431577912,62738752501707,28475674039049,104913239777090,84218479000279,95537244072814
3,39390300730492,50365608877047,38551441404631,96656459978855,128222334118977,53016202650998,91553349010184,112922755483271
4,256407487356560,88940213133551,51031884863580,7979049788488,6464347579040,269350153791729,130220629837078,192875314856512
5,3161646911346,200809906628427,274658508294720,165120907023095,109981445281132,212410721722985,32046566708819,79270806696600

##### concatenate

In [54]:
modup_part1_eval = np.concatenate([modup_part1_eval[0:2], d2_part1, modup_part1_eval[2:6]])
pd.DataFrame(modup_part1_eval)

,0,1,2,3,4,5,6,7
0,148935068366876,273474880081000,61328727045053,63749792626073,117418383349543,280347835916771,179869530005396,129792452812728
1,98558645847943,46989275181018,131780062388135,78996176609873,122719274408338,109949735448813,128041387007075,83590975200563
2,133162682338612,71135920344399,2297110822320,52143141124849,106398059486377,49848041437032,105544866203369,36847571852993
3,49739339877904,29567945865636,45796464659358,64457683819779,103903674157478,34985893193559,19744512755732,3189981416926
4,76290234061696,14481316488552,55295431577912,62738752501707,28475674039049,104913239777090,84218479000279,95537244072814
5,39390300730492,50365608877047,38551441404631,96656459978855,128222334118977,53016202650998,91553349010184,112922755483271
6,256407487356560,88940213133551,51031884863580,7979049788488,6464347579040,269350153791729,130220629837078,192875314856512
7,3161646911346,200809906628427,274658508294720,165120907023095,109981445281132,212410721722985,32046566708819,79270806696600

===== ModUp 2=====

##### INTT

In [55]:
# INTT in ModUp before BConv
d2_part2_coef = [[0],[0]]
ringDim = len(d2_part2[0])
for i in range(len(d2_part2)):
    a = d2_part2[i] # EVAL form
    qi = Q_part2[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = iNTT(a, indexReverse(psi_inv, int(math.log2(len(psi)))), qi)
    d2_part2_coef[i] = result
d2_part2_coef = np.array(d2_part2_coef, dtype=object)
pd.DataFrame(d2_part2_coef)

,0,1,2,3,4,5,6,7
0,103291625317128,134592759658979,58874454242872,93187659928988,114816004214201,40797487324470,114887381773202,99474964674236
1,87245782122926,114528589542076,17705782821052,79959034013137,1550557947164,4601519507582,18408180517341,10053744009033

##### BConv

In [56]:
# Generate qHat and QHatInvModq for BConv
# This value we can get directly from OpenFHE, we can also simulate it how to get this value
Q = 1
for qi in Q_part2 :
    Q *= qi

QHat = [0] * len(Q_part2)
QHatInvModq = [0] * len(Q_part2)
for i in range(len(Q_part2)):
    QHat[i] = Q // Q_part2[i]
    QHatInvModq[i] = modinv(QHat[i], Q_part2[i])
    print(QHatInvModq[i])

140004480603351
733007751851

In [57]:
QHat

[140737488355393, 140737488355201]

In [58]:
modup_part2 =  BConv(ringDim, P_part2, Q_part2, d2_part2_coef, QHatInvModq, QHat)

print("BConv result:")
modup_part2 = np.array(modup_part2, dtype=object)
pd.DataFrame(modup_part2)

103291625317128
87245782122926
103291625317128
87245782122926
103291625317128
87245782122926
103291625317128
87245782122926
103291625317128
87245782122926
103291625317128
87245782122926
134592759658979
114528589542076
134592759658979
114528589542076
134592759658979
114528589542076
134592759658979
114528589542076
134592759658979
114528589542076
134592759658979
114528589542076
58874454242872
17705782821052
58874454242872
17705782821052
58874454242872
17705782821052
58874454242872
17705782821052
58874454242872
17705782821052
58874454242872
17705782821052
93187659928988
79959034013137
93187659928988
79959034013137
93187659928988
79959034013137
93187659928988
79959034013137
93187659928988
79959034013137
93187659928988
79959034013137
114816004214201
1550557947164
114816004214201
1550557947164
114816004214201
1550557947164
114816004214201
1550557947164
114816004214201
1550557947164
114816004214201
1550557947164
40797487324470
4601519507582
40797487324470
4601519507582
40797487324470
4601519507582
40797487324470
4601519507582
40797487324470
4601519507582
40797487324470
4601519507582
114887381773202
18408180517341
114887381773202
18408180517341
114887381773202
18408180517341
114887381773202
18408180517341
114887381773202
18408180517341
114887381773202
18408180517341
99474964674236
10053744009033
99474964674236
10053744009033
99474964674236
10053744009033
99474964674236
10053744009033
99474964674236
10053744009033
99474964674236
10053744009033
BConv result:

,0,1,2,3,4,5,6,7
0,187266984449801,116971293461646,66152574057171,127881153662057,108479238848652,92918837307572,17451808154638,197132724204932
1,46406537369607,34151785222364,113843877193548,6987402562298,125136929156409,12301717244487,113267154387493,42190119286664
2,26012874407401,114264318676096,396448616955,35833354283500,59834102472380,2296500410345,62804978723885,79530576761762
3,12865577160455,74328174940850,7413614973517,41467505460014,8418568475205,136290015920801,29472752300576,93251555110093
4,136955544467705,36498390089342,258350901805633,179601308361440,214876674681134,138163797254887,102866437758535,62618645426891
5,219358671228547,157099634172677,148489917125007,154338405909700,53535154841704,165310773280876,210410210902835,94500188847958

##### NTT

In [59]:
# Convert bconv result to EVAL form
modup_part2_eval = [[0] for _ in range(len(modup_part2))]
ringDim = len(d2_part2[0])
for i in range(len(modup_part2)):
    a = modup_part2[i] # COEF form
    qi = P_part2[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = NTT(a, indexReverse(psi, int(math.log2(len(psi)))), qi)
    modup_part2_eval[i] = result
modup_part2_eval = np.array(modup_part2_eval, dtype=object)
pd.DataFrame(modup_part2_eval)

,0,1,2,3,4,5,6,7
0,130272988670953,249581501562638,237191530386248,28430450389928,117404266825547,198595585084747,222976873743611,32207702224607
1,33930377119843,36821635402753,21757305551920,130459840998079,64321363802366,40671049783850,120089421690960,63938792962686
2,79422366962180,112582377052064,5220835564635,136440800165805,89370688773963,53329257660359,31406485594067,122542648548618
3,135677989581635,82029675414691,127704974655218,76678147427908,20917976736353,94260049576667,120829853405146,7775903907786
4,62144369145336,10094542595850,91633853215548,162364518351794,43618469594469,195469479758908,38843553255492,210000593114594
5,132939305983338,36328891508813,4047492683806,186481660992352,209828938528339,118680164227543,44737739053690,177400246722412

##### concatenate

In [60]:
modup_part2_eval = np.concatenate([modup_part2_eval[0:4], d2_part2, modup_part2_eval[4:6]])
pd.DataFrame(modup_part2_eval)

,0,1,2,3,4,5,6,7
0,130272988670953,249581501562638,237191530386248,28430450389928,117404266825547,198595585084747,222976873743611,32207702224607
1,33930377119843,36821635402753,21757305551920,130459840998079,64321363802366,40671049783850,120089421690960,63938792962686
2,79422366962180,112582377052064,5220835564635,136440800165805,89370688773963,53329257660359,31406485594067,122542648548618
3,135677989581635,82029675414691,127704974655218,76678147427908,20917976736353,94260049576667,120829853405146,7775903907786
4,15587644275363,124879177638752,108092503286568,133459120890766,79453945806378,123822539562085,34775939894078,65524642827833
5,29893676515127,63462390131052,115957243466878,20893392760532,6802471869697,121176922361630,65188154151210,133854517371889
6,62144369145336,10094542595850,91633853215548,162364518351794,43618469594469,195469479758908,38843553255492,210000593114594
7,132939305983338,36328891508813,4047492683806,186481660992352,209828938528339,118680164227543,44737739053690,177400246722412

#### evk Internal Product (IP)

this proses output $\tilde{c}$

In [61]:
pd.DataFrame(qp)

                 0
0  281474976710129
1  140737488355601
2  140737488354161
3  140737488355441
4  140737488355201
5  140737488355393
6  281474976709649
7  281474976709361

cTilda0

In [62]:
cTilda0 = [[0] * ringDim for _ in range(len(qp))]
for i in range(len(qp)):
    for j in range(ringDim):
        cTilda0[i][j] = (modup_part0_eval[i][j]*evk_bv[0][i][j] + modup_part1_eval[i][j]*evk_bv[1][i][j] + modup_part2_eval[i][j]*evk_bv[2][i][j]) % qp[i]

cTilda0 = np.array(cTilda0, dtype=object)
pd.DataFrame(cTilda0)

,0,1,2,3,4,5,6,7
0,75310538207102,139342053326941,250237475283376,91428020871687,217312961838577,72927564845406,105526308565462,51632580934146
1,41507008138774,138215511772404,128028367452420,128189817418211,73324768806057,95038156868694,93955966605394,91527594146445
2,126127152921609,19813978890189,108783917658387,3378560661303,94492300020244,59227979467894,70958592580786,8213963725635
3,74825331364498,100940780997191,72358463909937,133079376170200,88982781219275,119149364963132,51471984782721,18607900225609
4,109382568925243,53074572739745,70131381902138,39834669407831,1406882916775,36410242820581,138414497517827,30091073464911
5,125064481786803,123470289476578,48085179991113,7366866973107,110498353155085,82848086778834,139387024357413,104868988274283
6,260433678810992,204693899804791,78319243113943,34820941234428,240432672072690,4174533182598,172942163868013,250819644818642
7,84877974148385,269216483006404,223352311958166,218947489873163,175399694001821,226159287132292,101968269256083,15315030107068

cTilda1

In [63]:
cTilda1 = [[0] * ringDim for _ in range(len(qp))]
for i in range(len(qp)):
    for j in range(ringDim):
        cTilda1[i][j] = (modup_part0_eval[i][j]*evk_av[0][i][j] + modup_part1_eval[i][j]*evk_av[1][i][j] + modup_part2_eval[i][j]*evk_av[2][i][j]) % qp[i]

cTilda1 = np.array(cTilda1, dtype=object)
pd.DataFrame(cTilda1)

,0,1,2,3,4,5,6,7
0,250978354739185,30520103564028,55728783863815,165894956233386,91749263578335,266740309235857,238948760985659,210055597969701
1,88853130083868,79015990446700,14184074822101,26509881984971,112519902258525,118269760459579,15856412580583,123975587639608
2,30145828259285,74994322723562,94028375943577,34104399494054,55706277778803,85746008516500,107132878166120,10403976257596
3,40415075039318,48645582283010,27450938522745,60768138142467,60858161755081,92673621349324,65275320716123,64984476831923
4,7340135920943,99877240327110,17659381560848,12614231262482,55012495748071,49970550344093,57886716542863,107387133323071
5,57396822204366,32786691627830,125151675181499,36873875019582,91572560632771,44827746463080,44481465499349,64823386319372
6,244736558811566,280076914154732,281444797636745,85464273634326,172236298455807,245556121972755,259989938075390,98775095122632
7,273066171073272,210161281832915,203489621668817,250925982565260,175016098003962,190706384707454,257249957189288,13901890189848

#### ModDown

use result from evk IP to initialize partp and partq

In [64]:
cTilda0_partq = cTilda0[0:6]
cTilda0_partp = cTilda0[6:8]
pd.DataFrame(cTilda0_partp)

,0,1,2,3,4,5,6,7
0,260433678810992,204693899804791,78319243113943,34820941234428,240432672072690,4174533182598,172942163868013,250819644818642
1,84877974148385,269216483006404,223352311958166,218947489873163,175399694001821,226159287132292,101968269256083,15315030107068

In [65]:
cTilda1_partq = cTilda1[0:6]
cTilda1_partp = cTilda1[6:8]
pd.DataFrame(cTilda1_partp)

,0,1,2,3,4,5,6,7
0,244736558811566,280076914154732,281444797636745,85464273634326,172236298455807,245556121972755,259989938075390,98775095122632
1,273066171073272,210161281832915,203489621668817,250925982565260,175016098003962,190706384707454,257249957189288,13901890189848

In [66]:
# Input Modulus (Q) for BConv in ModDown
Q_partp = qp[6:8]
Q_partp

array([281474976709649, 281474976709361], dtype=object)

In [67]:
# Output Modulus (P) for BConv in ModDown
P_partq = qp[0:6]
P_partq

array([281474976710129, 140737488355601, 140737488354161, 140737488355441,
       140737488355201, 140737488355393], dtype=object)

===== ModDown 0=====

##### INTT

In [68]:
# INTT in ModUp before BConv
cTilda0_coef = [[0] for i in range(len(cTilda0_partp))]
ringDim = len(cTilda0_partp[0])
for i in range(len(cTilda0_partp)):
    a = cTilda0_partp[i] # EVAL form
    qi = Q_partp[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = iNTT(a, indexReverse(psi_inv, int(math.log2(len(psi)))), qi)
    cTilda0_coef[i] = result
cTilda0_coef = np.array(cTilda0_coef, dtype=object)
pd.DataFrame(cTilda0_coef)

,0,1,2,3,4,5,6,7
0,120645225024556,10597525896202,110708180506480,139378515557571,80178659369119,28961977277349,126919090519774,84138006844397
1,234773311612763,143384691737142,215036491536081,252597403557469,135840742228408,93553439405552,143468362330964,185163526362408

##### BConv

In [69]:
# Generate qHat and QHatInvModq for BConv
# This value we can get directly from OpenFHE, we can also simulate it how to get this value
Q = 1
for qi in Q_partp :
    Q *= qi

QHat = [0] * len(Q_partp)
QHatInvModq = [0] * len(Q_partp)
for i in range(len(Q_partp)):
    QHat[i] = Q // Q_partp[i]
    QHatInvModq[i] = modinv(QHat[i], Q_partp[i])
    print(QHatInvModq[i])

110439834611772
171035142097702

In [70]:
QHat

[281474976709361, 281474976709649]

In [71]:
moddown_part0 =  BConv(ringDim, P_partq, Q_partp, cTilda0_coef, QHatInvModq, QHat)

print("BConv result:")
moddown_part0 = np.array(moddown_part0, dtype=object)
pd.DataFrame(moddown_part0)

120645225024556
234773311612763
120645225024556
234773311612763
120645225024556
234773311612763
120645225024556
234773311612763
120645225024556
234773311612763
120645225024556
234773311612763
10597525896202
143384691737142
10597525896202
143384691737142
10597525896202
143384691737142
10597525896202
143384691737142
10597525896202
143384691737142
10597525896202
143384691737142
110708180506480
215036491536081
110708180506480
215036491536081
110708180506480
215036491536081
110708180506480
215036491536081
110708180506480
215036491536081
110708180506480
215036491536081
139378515557571
252597403557469
139378515557571
252597403557469
139378515557571
252597403557469
139378515557571
252597403557469
139378515557571
252597403557469
139378515557571
252597403557469
80178659369119
135840742228408
80178659369119
135840742228408
80178659369119
135840742228408
80178659369119
135840742228408
80178659369119
135840742228408
80178659369119
135840742228408
28961977277349
93553439405552
28961977277349
93553439405552
28961977277349
93553439405552
28961977277349
93553439405552
28961977277349
93553439405552
28961977277349
93553439405552
126919090519774
143468362330964
126919090519774
143468362330964
126919090519774
143468362330964
126919090519774
143468362330964
126919090519774
143468362330964
126919090519774
143468362330964
84138006844397
185163526362408
84138006844397
185163526362408
84138006844397
185163526362408
84138006844397
185163526362408
84138006844397
185163526362408
84138006844397
185163526362408
BConv result:

,0,1,2,3,4,5,6,7
0,24256739984174,258410544528637,124477647026031,44505361708904,268883498583313,108959525245470,193161963329727,9587133572315
1,98472979255411,135076736228561,127697052445931,54672285365919,117212178922981,113624737123431,106093499632756,50522665873740
2,113853936812663,55573509011191,45080254180823,60961256192671,110883051674837,55851915124206,130848728351515,75615441145713
3,115819472422528,110605544458782,24692415003265,24096061197389,132146439927934,60293037726459,108844080026787,100223247344644
4,71470468381403,3530013165913,10922947642067,118969213905795,84179087885963,121032977377402,42601206709633,34036631565399
5,106949671577247,61042940477328,106381014501330,14923194009854,9962978774899,128736020961288,67448007666396,86985924153275

##### NTT

In [72]:
# Convert bconv result to EVAL form
moddown_part0_eval = [[0] for _ in range(len(moddown_part0))]
ringDim = len(moddown_part0[0])
for i in range(len(moddown_part0)):
    a = moddown_part0[i] # COEF form
    qi = P_partq[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = NTT(a, indexReverse(psi, int(math.log2(len(psi)))), qi)
    moddown_part0_eval[i] = result
moddown_part0_eval = np.array(moddown_part0_eval, dtype=object)
pd.DataFrame(moddown_part0_eval)

,0,1,2,3,4,5,6,7
0,173895077655988,37883103455992,232603059677390,103882276875424,224629701663017,273014758929184,25087923032102,248957925424811
1,50749571710742,16255929791566,37616028660350,121406635161090,86673645554430,47019966020145,90797191794486,55789888639277
2,57281615803368,31447729038781,78822729294165,116505589789676,53006102629898,129613357930476,58324398586287,104354994720331
3,70767224041215,110427778719441,27402582540479,11470214231821,39325961486480,59578840259546,138892781495329,46477931539590
4,33181293153822,104440998595297,4674504398284,17011975768883,35727542178978,71045977489180,135383606552455,29560360559124
5,107110914891032,99269357832771,71268788764995,14855887847594,121039201877605,72791911782389,37431181018684,50355151892120

##### submul

ct = ((cTilda – partPSwitchedToQ) * PInvModq) % q

PInvModq = inverse modular P in ring q

In [73]:
# Generate PInvModq for submul in ModDown
# This value we can get directly from OpenFHE, we can also simulate it how to get this value
P = 1
for pi in Q_partp:
    P *= pi

PInvModq = [0 for _ in range(len(P_partq))]
for i in range(len(P_partq)):
    PInvModq[i] = modinv((P % P_partq[i]) , P_partq[i])
    print(PInvModq[i])

252728092492031
103445172090571
114858178990968
117936639380314
131831168265916
45289722887922

In [74]:
ct0 = [[0] * ringDim for _ in range(len(P_partq))]
for i in range(len(P_partq)):
    for j in range(ringDim):
        ct0[i][j] = ((cTilda0_partq[i][j] - moddown_part0_eval[i][j]) * PInvModq[i]) % P_partq[i]
ct0 = np.array(ct0, dtype=object)
pd.DataFrame(ct0)

,0,1,2,3,4,5,6,7
0,121109411272138,60457380208011,266422404942421,134318291893861,79500779238061,275978402899491,272740185870344,11380173617947
1,111011670849099,102274795083391,84711745279271,108914303318396,118115309979084,102877970742396,79600106115323,70435087185924
2,80248773966376,14672691304927,67917157369757,87868916040799,62584719386585,129011363299455,9638426342171,54463663094625
3,116095641070,93554002339137,39502199146451,135968340101820,16479071566482,111417575886469,107739127838219,76775145611788
4,5897307017579,30869886966882,60655380189593,81743694923680,134892122168281,64437108048700,43024535594896,73966480916994
5,16089457604135,11989357508169,105201763127546,29940257030517,69552443301171,49215238560086,47950310452415,111752144521689

===== ModDown 1=====

##### INTT

In [75]:
# INTT in ModUp before BConv
cTilda1_coef = [[0] for i in range(len(cTilda1_partp))]
ringDim = len(cTilda1_partp[0])
for i in range(len(cTilda1_partp)):
    a = cTilda1_partp[i] # EVAL form
    qi = Q_partp[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = iNTT(a, indexReverse(psi_inv, int(math.log2(len(psi)))), qi)
    cTilda1_coef[i] = result
cTilda1_coef = np.array(cTilda1_coef, dtype=object)
pd.DataFrame(cTilda1_coef)

,0,1,2,3,4,5,6,7
0,173350627644288,112065714626092,162852433636286,278633435803653,110094772381868,36550665004569,210060834181183,90397503508531
1,196814673403852,92559366938926,55829166250778,158833036582784,153632606322136,195372764794814,141769771706176,132651472252894

##### BConv

In [76]:
# Generate qHat and QHatInvModq for BConv
# This value we can get directly from OpenFHE, we can also simulate it how to get this value
Q = 1
for qi in Q_partp :
    Q *= qi

QHat = [0] * len(Q_partp)
QHatInvModq = [0] * len(Q_partp)
for i in range(len(Q_partp)):
    QHat[i] = Q // Q_partp[i]
    QHatInvModq[i] = modinv(QHat[i], Q_partp[i])
    print(QHatInvModq[i])

110439834611772
171035142097702

In [77]:
QHat

[281474976709361, 281474976709649]

In [92]:
moddown_part1 =  BConv(ringDim, P_partq, Q_partp, cTilda1_coef, QHatInvModq, QHat)

print("BConv result:")
moddown_part1 = np.array(moddown_part1, dtype=object)
pd.DataFrame(moddown_part1)

173350627644288
196814673403852
173350627644288
196814673403852
173350627644288
196814673403852
173350627644288
196814673403852
173350627644288
196814673403852
173350627644288
196814673403852
112065714626092
92559366938926
112065714626092
92559366938926
112065714626092
92559366938926
112065714626092
92559366938926
112065714626092
92559366938926
112065714626092
92559366938926
162852433636286
55829166250778
162852433636286
55829166250778
162852433636286
55829166250778
162852433636286
55829166250778
162852433636286
55829166250778
162852433636286
55829166250778
278633435803653
158833036582784
278633435803653
158833036582784
278633435803653
158833036582784
278633435803653
158833036582784
278633435803653
158833036582784
278633435803653
158833036582784
110094772381868
153632606322136
110094772381868
153632606322136
110094772381868
153632606322136
110094772381868
153632606322136
110094772381868
153632606322136
110094772381868
153632606322136
36550665004569
195372764794814
36550665004569
195372764794814
36550665004569
195372764794814
36550665004569
195372764794814
36550665004569
195372764794814
36550665004569
195372764794814
210060834181183
141769771706176
210060834181183
141769771706176
210060834181183
141769771706176
210060834181183
141769771706176
210060834181183
141769771706176
210060834181183
141769771706176
90397503508531
132651472252894
90397503508531
132651472252894
90397503508531
132651472252894
90397503508531
132651472252894
90397503508531
132651472252894
90397503508531
132651472252894
BConv result:

,0,1,2,3,4,5,6,7
0,228068877137831,144576294511742,59749569772937,103000799205196,225181700805294,240972126797549,42404295317239,19974222847766
1,27277147867607,280693922853,94913721209589,44053806198408,12151167470054,123261193242247,47613294374941,76587113699217
2,121180116348566,86692192127215,9843463681436,112687207926877,25317039732291,22632329841695,68390109843686,76914333749754
3,37710810611038,72431965421507,22911474354816,114229733852825,29251539722436,33892714310034,18646831153548,76623470193650
4,123730049101185,39921384737887,126014337165258,8387393127449,54902098639809,110946228716316,45565880902859,6309261361899
5,139357151303372,65929849244079,127974539876457,121208763347494,90676646796343,133745910178491,136620631748979,90708126040356

In [93]:
a

array([139357151303372, 65929849244079, 127974539876457, 121208763347494,
       90676646796343, 133745910178491, 136620631748979, 90708126040356],
      dtype=object)

In [100]:
Q_partp

array([281474976709649, 281474976709361], dtype=object)

In [96]:
# CRT Base Conversion
def BConv(ringDim, P, Q, a, QHatInvModq, qHat):
    k = len(P)
    l = len(Q)
    result = [[0] for _ in range(len(P))]
    for ri in range(1):
        for i in range(k):
            sigma = [0] * len(P)
            sigma[i] = 0
            for j in range(l):
                print(a[j][ri])
                sigma[i] = (sigma[i] + ((a[j][ri] * QHatInvModq[j]) % Q[j]) * qHat[j] % P[i]) % P[i]
            result[i][ri] = sigma[i] 

    return result

In [41]:
moddown_part1 =  BConv(ringDim, P_partq, Q_partp, cTilda1_coef, QHatInvModq, QHat)

print("BConv result:")
moddown_part1 = np.array(moddown_part1, dtype=object)
pd.DataFrame(moddown_part1)

NameError: name 'P_partq' is not defined

##### NTT

In [79]:
# Convert bconv result to EVAL form
moddown_part1_eval = [[0] for _ in range(len(moddown_part1))]
ringDim = len(moddown_part1[0])
for i in range(len(moddown_part1)):
    a = moddown_part1[i] # COEF form
    qi = P_partq[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = NTT(a, indexReverse(psi, int(math.log2(len(psi)))), qi)
    moddown_part1_eval[i] = result
moddown_part1_eval = np.array(moddown_part1_eval, dtype=object)
pd.DataFrame(moddown_part1_eval)

,0,1,2,3,4,5,6,7
0,145208228920214,126516839352168,171207975253502,147066309556466,15656145310636,177382658056577,209794494717289,268768412515538
1,57237670927986,18578258075731,131675604366906,13336176555408,52805453725069,98620164147064,116181710652167,11257121201727
2,54149780353225,97797461835931,120942029848670,32968539415863,132151612173256,25921710957381,70131874752680,13165456389039
3,90282046841610,102484209071224,36812006725075,32854937219504,173435073830,129495100213127,135164753523953,55894972930863
4,11414803492883,24608680559370,136086398380829,113945315796922,22606083036487,62614904829690,33474614209654,22139639082841
5,80574238868545,67417433218062,64563575329905,34621476552033,92727371582562,118936822618003,94225999380375,139577827811312

In [40]:
# Convert bconv result to EVAL form
moddown_part1_eval = [[0] for _ in range(len(moddown_part1))]
ringDim = len(moddown_part1[0])
for i in range(len(moddown_part1)):
    a = moddown_part1[i] # COEF form
    qi = P_partq[i]
    psi = tfg(ringDim, qi)
    psi_inv = [modinv(v, qi) for v in psi]
    result = NTT(a, indexReverse(psi, int(math.log2(len(psi)))), qi)
    moddown_part1_eval[i] = result
moddown_part1_eval = np.array(moddown_part1_eval, dtype=object)
pd.DataFrame(moddown_part1_eval)

NameError: name 'moddown_part1' is not defined

##### submul

ct = ((cTilda – partPSwitchedToQ) * PInvModq) % q

PInvModq = inverse modular P in ring q

In [80]:
ct1 = [[0] * ringDim for _ in range(len(P_partq))]
for i in range(len(P_partq)):
    for j in range(ringDim):
        ct1[i][j] = ((cTilda1_partq[i][j] - moddown_part1_eval[i][j]) * PInvModq[i]) % P_partq[i]
ct1 = np.array(ct1, dtype=object)
pd.DataFrame(ct1)

,0,1,2,3,4,5,6,7
0,218330463556849,99917858766145,48945515822640,244488678307373,63061016017337,182946760463862,98917948098588,268473855992741
1,7906952229807,21291400565374,30835154008570,20089017431190,83051379776143,112861354559382,39913160772050,114918641980765
2,42384356632708,114968302375501,36840202710889,33105571172898,6230046584757,123731376347173,65364958113252,115505644582811
3,103723679357235,129356921890056,3717913005181,89415931448024,89874019113088,36577155243125,126278747689678,29055943357428
4,75688454559962,33197081833343,78491305679789,76726078545322,115611817916281,140164017675434,62044617527934,10731105917663
5,21976567198360,87334051666584,136977837615288,80298872124397,75784603626479,41888385456017,45434232098735,62166014542268

#### Final Adder

In [81]:
c0 = [[0] * ringDim for _ in range(len(q))]
for i in range(len(P_partq)):
    for j in range(ringDim):
        c0[i][j] = (d0[i][j] + ct0[i][j]) % P_partq[i]
c0 = np.array(c0, dtype=object)
pd.DataFrame(c0)

,0,1,2,3,4,5,6,7
0,69367840431030,138242450260409,89443313452088,249125669483201,53358020443890,197893352683419,205616348441168,131679160863504
1,130416582778075,97390928879980,116850482883978,51440752522706,721344620280,11354837460752,41721128740125,71892356210400
2,10100446949335,96537260900774,83780644673138,39484020366898,112855241511763,5819834938420,6541095295461,72392116076909
3,8851923159279,122837078500369,23358687404851,126101300309493,115707494285730,49585352717133,128134466780042,111514448222562
4,105700630576083,139425405971464,6905961335281,79886655986574,63167065839913,94085787414822,45092710622320,82243292534042
5,32589476618142,80917200240416,79141441972332,116638851663035,21256083179575,139874350954214,5156663992836,126723216854149

In [82]:
c1 = [[0] * ringDim for _ in range(len(q))]
for i in range(len(P_partq)):
    for j in range(ringDim):
        c1[i][j] = (d1[i][j] + ct1[i][j]) % P_partq[i]
c1 = np.array(c1, dtype=object)
pd.DataFrame(c1)

,0,1,2,3,4,5,6,7
0,259856553476941,217823316522077,184333659239364,264884666056189,204322075674483,262792364808176,157382315764018,48731235084834
1,111235176650825,7472148179974,77251233980513,47075873039553,74574571108850,135256663344657,32021436808470,131558202798499
2,137219101811711,51589432613611,53887264791876,30058680582898,24093712610577,120865407766113,23818786722637,67471878357120
3,25317207102198,89078528158023,101089705172874,138543890707242,44645311375215,27728948684701,89397716248863,12753520674195
4,89941898146121,37635709348187,23898602353295,36947125688113,97148352358019,74508756678093,7875774126768,73814399130111
5,17101666370155,134804233662778,19080451033739,13376066561818,66736779821789,100420535576540,11884962501343,60294512354850

In [90]:
# Convert bconv result to EVAL form
EVAL = [[0] for _ in range(len(modup_part0))]
ringDim = 8
COEF = [106949671577247, 61042940477328, 106381014501330, 14923194009854, 9962978774899, 128736020961288, 67448007666396, 86985924153275]
qi = 140737488355393
psi = tfg(ringDim, qi)
psi_inv = [modinv(v, qi) for v in psi]
EVAL = NTT(COEF, indexReverse(psi, int(math.log2(len(psi)))), qi, debug=True)
pd.DataFrame(EVAL)

106949671577247 9962978774899
73126237334098 35617465003
61042940477328 128736020961288
20949291875585 101136589079071
106381014501330 67448007666396
89235159992380 123526869010280
14923194009854 86985924153275
86996864385740 83587011989361
[73126237334098, 20949291875585, 89235159992380, 86996864385740, 35617465003, 101136589079071, 123526869010280, 83587011989361]
73126237334098 89235159992380
32821392184205 113431082483991
20949291875585 86996864385740
17041783895184 24856799855986
35617465003 123526869010280
96915556829997 43893166455402
101136589079071 83587011989361
65396983128924 136876195029218
[32821392184205, 17041783895184, 113431082483991, 24856799855986, 96915556829997, 65396983128924, 43893166455402, 136876195029218]
32821392184205 17041783895184
107110914891032 99269357832771
113431082483991 24856799855986
71268788764995 14855887847594
96915556829997 65396983128924
121039201877605 72791911782389
43893166455402 136876195029218
37431181018684 50355151892120
[107110914891032, 99269357832771, 71268788764995, 14855887847594, 121039201877605, 72791911782389, 37431181018684, 50355151892120]

                 0
0  107110914891032
1   99269357832771
2   71268788764995
3   14855887847594
4  121039201877605
5   72791911782389
6   37431181018684
7   50355151892120